@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* -------------------- Primary set-up --------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


/* -------------------- Colors --------------------*/

:root {
    /*Primary color*/
    --white: #FFFFFF;
    --black: #000000;
    --grey300: #C5C6CE;
    --grey200: #D8D8D8;
    --navy950: #00001A;
    --navy600: #5E607A;

     
    /*Secondary color*/

    --gold400: #E9AA52;
    --red500: #F15D51;
}


/* -------------------- Typographie --------------------*/

h1 {
    font-size: 3rem;
    line-height: 3.2rem;
}

p {
    font-size: 0.8rem;
    line-height: 1.5rem;
}


/* -------------------- Body & Main --------------------*/

body {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--white);
}

main {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1, 1);
    gap: 2rem;
    grid-template-areas:
        "bloc1 bloc1 bloc4"
        "bloc2 bloc3 bloc4"
        "bloc5 bloc6 bloc7";
}

#bloc1 {grid-area: bloc1;}
#bloc2 {grid-area: bloc2;}
#bloc3 {grid-area: bloc3;}
#bloc4 {grid-area: bloc4;}
#bloc5 {grid-area: bloc5;}
#bloc6 {grid-area: bloc6;}
#bloc7 {grid-area: bloc7;}


/* -------------------- Btn --------------------*/

button {
    background-color: var(--red500);
    padding: 0.8rem 2rem;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 2rem;

}

/* -------------------- Navigation --------------------*/


/* -------------------- Blocs --------------------*/

#bloc1 img {
    width: 100%;
}

.card {
    display: flex;
    flex-direction: row;

}

.card img {
    width: 50%;
    height: 50%;
}

.card-text {
    padding-left: 0.5rem;
}

.card-text p:first-of-type {
    color: var(--red500);
    font-size: 1.8rem;
    font-weight: 600;
}

