@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* -------------------- Primary set-up --------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


/* -------------------- Colors --------------------*/

:root {
    /*Primary color*/
    --white: #FFFFFF;
    --black: #000000;
    --grey300: #C5C6CE;
    --grey200: #D8D8D8;
    --navy950: #00001A;
    --navy600: #5E607A;

     
    /*Secondary color*/

    --gold400: #E9AA52;
    --red500: #F15D51;
}


/* -------------------- Typographie --------------------*/

h1 {
    font-size: 3rem;
    line-height: 3.2rem;
    font-weight: 600;
}

p, li {
    font-size: 0.7rem;
    line-height: 1.5rem;
    color: var(--navy600);
}


/* -------------------- Body & Main --------------------*/

body {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--white);
}

main {
    width: 80%;
    max-width: 60rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr, 1fr, 1fr;
    gap: 2rem;
    grid-template-areas:
        "bloc1 bloc1 bloc4"
        "bloc2 bloc3 bloc4"
        "bloc5 bloc6 bloc7";
}

#bloc1 {grid-area: bloc1;}
#bloc2 {grid-area: bloc2;}
#bloc3 {grid-area: bloc3;}
#bloc4 {grid-area: bloc4;}
#bloc5 {grid-area: bloc5;}
#bloc6 {grid-area: bloc6;}
#bloc7 {grid-area: bloc7;}


/* -------------------- Btn --------------------*/

#bloc3 button {
    background-color: var(--red500);
    padding: 0.7rem 2rem;
    border: none;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    
    text-transform: uppercase;
    margin-top: 1rem;
}

#bloc3 button:hover,
 #bloc3 button:focus-visible {
    background-color: var(--black);
    color: var(--white);
    outline:none;               
}

#mobile-menu-open button,
#mobile-menu-closed button {
    border: none;
    background-color: transparent;
    width: 100%;
}

#mobile-menu-open button:focus-visible,
#mobile-menu-closed button:focus-visible {
    outline: 2px solid var(--gold400);
    outline-offset: 2px;                           ;
}


/* -------------------- Navigation --------------------*/

header {
    width: 80%;
    max-width: 60rem;
    margin: 2.5rem auto;
    display: flex;
    flex-direction : row;
    justify-content: space-between;
}

header img {
    height: 2rem;
}

#desktop-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#desktop-menu li {
    display: inline-block;
    margin-left: 3rem;
}

#mobile-menu-open {
    background-color: var(--white);
    width: 8rem;
    padding: 1rem;
    position: absolute;
    top: 4%;
    right: 2rem;

}

#mobile-menu-open img {
    width: 2rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-bottom: 1rem;
}

#mobile-menu-open  li {
    list-style: none;
}

#desktop-menu li a,
#mobile-menu-open li a {
    text-decoration: none;
    color: var(--navy600);

}

#desktop-menu li a:hover,
#desktop-menu li a:focus-visible,
#mobile-menu-open li a:hover,
#mobile-menu-open li a:focus-visible {
    color: var(--red500);
    cursor: pointer;
    outline: none;
}

#mobile-menu-closed {
    display: none;
}

#mobile-menu-open {
    display: none;
}

#mobile-menu-closed img {
        width: 3rem;
        height: 1.5rem;
        cursor: pointer;
    }

#mobile-menu-open img {
        cursor: pointer;
    }



/* -------------------- Blocs --------------------*/

#bloc1 img {
    width: 100%;
}

/* Bloc 4 */
#bloc4 {
    background-color: var(--black);
    color: var(--white);
    padding: 1rem;
}

#bloc4 p:first-child {
    color: var(--gold400);
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.5rem 0 1rem 0;
}

#bloc4 a {
    color: var(--white);
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: none;
}

#bloc4 a:hover,
#bloc4 a:focus-visible {
    color: var(--gold400);  
    outline: none;
}

#bloc4 p:nth-of-type(1n + 2) {
    margin-top: 0.3rem;
    color: var(--grey300);
}

hr {
    border: none;
    border-top: 0.5px solid var(--grey300);
    margin: 1rem 0;

}


/* Blocs 5, 6 et 7 */
.card {
    display: flex;
    flex-direction: row;
}

.card img {
    width: 30%;
    height: auto;
}

.card-text {
    padding-left: 0.5rem;
}

.card-text p:first-of-type {
    color: var(--red500);
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.card-text a {
    font-weight: 700;
    color: var(--black);
    font-size: 0.8rem;
    text-decoration: none;
}

.card-text a:hover,
.card-text a:focus-visible {
    color: var(--red500);
    cursor: pointer;
    outline: none;
}
.card-text p:nth-of-type(2) {
    margin-top: 0.5rem;
}

/* -------------------- Responsivness --------------------*/

@media screen and (max-width: 800px) {
    
     #desktop-menu {
        display: none;
    }

    #mobile-menu-closed {
        display: initial;
    }

    #mobile-menu-open {
        display: none;
    }

    header {
        width: 90%;
    }                       

    main {
        width: 90%;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "bloc1 bloc1"
            "bloc2 bloc3"
            "bloc4 bloc4"
            "bloc5 bloc5"
            "bloc6 bloc6" 
            "bloc7 bloc7";
    }

    .card img {
        width: 20%;
        height: auto;
    }

}
