@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* -------------------- Primary set-up --------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


/* -------------------- Colors --------------------*/

:root {
    /*Primary color*/
    --white: #FFFFFF;
    --black: #000000;
    --grey300: #C5C6CE;
    --grey200: #D8D8D8;
    --navy950: #00001A;
    --navy600: #5E607A;

     
    /*Secondary color*/

    --gold400: #E9AA52;
    --red500: #F15D51;
}


/* -------------------- Typographie --------------------*/

h1 {
    font-size: 3rem;
    line-height: 3.2rem;
    font-weight: 600;
}

p, li {
    font-size: 0.7rem;
    line-height: 1.5rem;
    color: var(--navy600);
}


/* -------------------- Body & Main --------------------*/

body {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--white);
}

main {
    width: 80%;
    max-width: 60rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1, 1);
    gap: 2rem;
    grid-template-areas:
        "bloc1 bloc1 bloc4"
        "bloc2 bloc3 bloc4"
        "bloc5 bloc6 bloc7";
}

#bloc1 {grid-area: bloc1;}
#bloc2 {grid-area: bloc2;}
#bloc3 {grid-area: bloc3;}
#bloc4 {grid-area: bloc4;}
#bloc5 {grid-area: bloc5;}
#bloc6 {grid-area: bloc6;}
#bloc7 {grid-area: bloc7;}


/* -------------------- Btn --------------------*/

button {
    background-color: var(--red500);
    padding: 0.7rem 2rem;
    border: none;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    
    text-transform: uppercase;
    margin-top: 1rem;
}

button:hover,
button:focus-visible {
    background-color: var(--black);
    color: var(--white);
    outline:none;               
}


/* -------------------- Navigation --------------------*/

header {
    width: 80%;
    max-width: 60rem;
    margin: 2.5rem auto;
    display: flex;
    flex-direction : row;
    justify-content: space-between;
}

header img {
    height: 2rem;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header li {
    display: inline-block;
    margin-left: 3rem;
}

header li a {
    text-decoration: none;
    color: var(--navy600);

}

header li a:hover,
header li a:focus-visible{
    color: var(--red500);
    cursor: pointer;
    outline: none;
}


/* -------------------- Blocs --------------------*/

#bloc1 img {
    width: 100%;
}

/* Bloc 4 */
#bloc4 {
    background-color: var(--black);
    color: var(--white);
    padding: 1rem;
}

#bloc4 p:first-child {
    color: var(--gold400);
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.5rem 0 1rem 0;
}

#bloc4 a {
    color: var(--white);
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: none;
}

#bloc4 a:hover,
#bloc4 a:focus-visible {
    color: var(--gold400);  
    outline: none;
}

#bloc4 p:nth-of-type(1n + 2) {
    margin-top: 0.3rem;
    color: var(--grey300);
}

hr {
    border: none;
    border-top: 0.5px solid var(--grey300);
    margin: 1rem 0;

}


/* Blocs 5, 6 et 7 */
.card {
    display: flex;
    flex-direction: row;
}

.card img {
    width: 30%;
    height: auto;
}

.card-text {
    padding-left: 0.5rem;
}

.card-text p:first-of-type {
    color: var(--red500);
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.card-text a {
    font-weight: 700;
    color: var(--black);
    font-size: 0.8rem;
    text-decoration: none;
}

.card-text a:hover,
.card-text a:focus-visible {
    color: var(--red500);
    cursor: pointer;
    outline: none;
}
.card-text p:nth-of-type(2) {
    margin-top: 0.5rem;
}
